@import url("https://fonts.googleapis.com/css?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");

.laura {
  border: 2px solid grey;
  margin: 20px 60px 50px 60px;
  text-align: center;
}

.header {
  color: maroon;
  font-family: "Sigmar One", cursive;
}

.laura h2 {
  font-family: "Oleo Script", cursive;
}

.ui .card {
  border: 1px solid grey;
  margin: 20px 60px 50px 60px;
  text-align: center;
}
.ui .card h1 {
  color: maroon;
  font-family: "Sigmar One", cursive;
}
.ui .card h2 {
  font-family: "Oleo Script", cursive;
}

img {
  border: 1px solid black;
}
